# sword is too big to push

na_sword_v11.nc
CT_River_02001_Reprocessed.las
CT_River_02005_Reprocessed.las
Tiles_NAD83_Ortho
Rasters
20220819_riversp
20220819_rivertile
river20220825.tar
pixel_cloud20220825.tar
WillametteSim20Results20220825032251.zip
netcdf
SWORD_v14_nc.zip
na_sword_v14.nc
.DS_Store
.RHistory
